<div>
  <h1><%= @format_first_title %></h1> <br>
  subject: <%= @subjects %> <br>
  object: <%= @objects %> <br>
  action: <%= @actions %> <br>

  key terms: <%= @key_terms %> <br>

  location: <%= @locations %> <br>

  <h1> <%= @new_title %> </h1>
</div>
